body {
  margin: 0px;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  background-image: url("bg.png");
}

@font-face{
  font-family: "Arcade Normal";
  src: local("Arcade Normal"), url("ARCADE_N.TTF");
}

@font-face{
  font-family: "美咲ゴシック";
  src: local("美咲ゴシック"), url("misaki_gothic.ttf");
}




/* ヘッダー */
header {
  background-color: #000;
  padding: 5px 5px 0px 5px;
}

header hgroup{
  overflow: hidden;
  position: relative;
}

header hgroup h1{
  color: #ffffff;
  margin: 1px 0px 5px 10px;
  font-family: 'VT323';
  text-align: right;
  float: right;
  animation: logoanime 2.0s;
  animation-timing-function: linear;
}
@keyframes logoanime{
  0% { opacity: 0; }
  50% { opacity: 0; }
  100%{ opacity: 1; }
}

header h2{
  color: #666;
  margin: 1px 5px 5px 10px;
  font-weight: normal;
  text-align: right;
  font-size: 0.8em;
}

header img.top{
  width: 90%;
  height: auto;
  animation: tianime 2s;
}

header hgroup img{
  margin: 3px 5px 2px 5px;
  float: left;
  width: 32;
}


/* ナビゲーションメニュー */
nav ul {
  padding: 0;
  margin: 0;
  font-family: 'VT323';
  white-space: nowrap;

}

nav{
  display: inline;
  width: ***;
  bakcground-color: #fff;
}

/* メニュー部分の表示 */
nav ul li{
  list-style-type: none;
  float: left;
  background-color: #000000;
  color: #ddddff;
  margin-left: 1;
  padding: 8px 10px;
  width: 72;
  font-size: 1.2em;
  text-align: center;
}
/* メニューにマウスを乗せた時の動作 */
nav ul li:hover{
  background-color: #cff;
  color: #006;
}
/* メニューの登場アニメーション */
nav ul a:nth-child(1) li{  
  -webkit-animation: menushow 0.3s both;
  -moz-animation: menushow 0.3s both;
  -o-animation: menushow 0.3s both;
  -ms-animation: menushow 0.3s both;
  animation: menushow 0.3s both;
}
nav ul a:nth-child(2) li{  
  -webkit-animation: menushow 0.3s both;
  -moz-animation: menushow 0.3s both;
  -o-animation: menushow 0.3s both;
  -ms-animation: menushow 0.3s both;
  animation: menushow 0.3s both;

  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
nav ul a:nth-child(3) li{  
  -webkit-animation: menushow 0.3s both;
  -moz-animation: menushow 0.3s both;
  -o-animation: menushow 0.3s both;
  -ms-animation: menushow 0.3s both;
  animation: menushow 0.3s both;

  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes menushow{
  0%{
    opacity: 0;
    padding-top: 0px;
  }
  100%{
    opacity: 1;
    padding-top: 8px;
  }
}

nav a{
  text-decoration: none;
}


/* 記事 */
article{
  margin: 5px 20px;
}
article h1{
  font-size: 1.5em;
  padding-left: 0;
  margin-bottom: 0;
  font-weight: normal;
}

article h2{
  font-size: 1.2em;
  padding: 5px 5px 0px 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: normal;
  border-bottom: solid 1px;
  border-bottom-color: #666;


}

/* section部分のアニメーション */
article section:nth-child(1){
  -webkit-animation: show 1s both;
  -moz-animation: show 1s both;
  -o-animation: show 1s both;
  -ms-animation: show 1s both;
  animation: show 1s both;
}
article section:nth-child(2){
  -webkit-animation: show 1s both;
  -moz-animation: show 1s both;
  -o-animation: show 1s both;
  -ms-animation: show 1s both;
  animation: show 1s both;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
article section:nth-child(3){
  -webkit-animation: show 1s both;
  -moz-animation: show 1s both;
  -o-animation: show 1s both;
  -ms-animation: show 1s both;
  animation: show 1s both;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
article section:nth-child(4){
  -webkit-animation: show 1s both;
  -moz-animation: show 1s both;
  -o-animation: show 1s both;
  -ms-animation: show 1s both;
  animation: show 1s both;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes show{
  0%{
    opacity: 0;
    padding-left: 60;
  }
  100%{
    opacity: 1;
    padding-left: 0;
  }
}
@-moz-keyframes show{
  0%{
    opacity: 0;
    padding-left: 60;
  }
  100%{
    opacity: 1;
    padding-left: 0;
  }
}
@-ms-keyframes show{
  0%{
    opacity: 0;
    padding-left: 60;
  }
  100%{
    opacity: 1;
    padding-left: 0;
  }
}
@-o-keyframes show{
  0%{
    opacity: 0;
    padding-left: 60;
  }
  100%{
    opacity: 1;
    padding-left: 0;
  }
}
@keyframes show{
  0%{
    opacity: 0;
    padding-left: 60;
  }
  100%{
    opacity: 1;
    padding-left: 0;
  }
}

/* これは必要なのか */
article h2 div{
  font-size: 0.8em;
  float: right;
  padding: 5px 5px 5px 0px;
  color: #aaa;
}

article h3{
  font-size: 1.0em;
  padding: 5px 5px 0px 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  border-bottom: solid;
  border-bottom-color: #ccc;
  color: #333;
  border-width: thin;
}

article section{
  font-size: 0.9em;
}

article section div,ul{
  padding-left: 20px;
}

article section ul{
  margin-top: 0px;
  list-style-type: none;
}

table th{
  font-weight: normal;
  color: #666;
}

/* タグ */
article section ul.tags{
  list-style-type: none;
  overflow: hidden;
  position: relative;
}

article section ul.tags li{
  float: left;
  background-color: #ddf;
  color: #336;
  margin-left: 3;
  margin-top: 5;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

article section ul.tags li:hover{
  background-color: #336;
  color: #ddf;
}

/* アカウント部分 */
article section.account{
  overflow: hidden;
  /* この要素が終わったら flow を解除する */
}

article section.account{
  overflow: hidden;
  /* position: relative; */
}

/* トッページのアカウント一覧のところ */
article section.account .outer{
  float: left;
  width: 120;
  height: 120;
  margin: 3px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  overflow: hidden;

  /* 背景画像は大きさにあわせて中央に表示 */
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: contain; */ /* containはコンテナのサイズにあわせて拡大 */
}
article section.account .inner{
  width: 120;
  height: 120;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;

  padding-top: 20px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 3px;
}
article section.account .inner:hover{
  padding-top: 3px;
}

article section.account span.desc{
  font-size: 0.8em;
}

/* ブロマガ */
article section.account a.blomaga .outer{
  background-image: url(snsimg/blomaga.png);
  background-color: rgb(238, 238, 238);
}
article section.account a.blomaga .inner{
  background-color: rgb(0, 0, 0, 0.0);
  color: rgba(238, 238, 238, 0.0);
}
article section.account a.blomaga .inner:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(238, 238, 238, 1.0);
}

/* twitter */
article section.account a.twitter .outer{
  background-image: url(snsimg/twitter.png);
  background-color: rgb(85, 172, 238);
}
article section.account a.twitter .inner{
  background-color: rgb(0, 0, 0, 0.0);
  color: rgba(238, 238, 255, 0.0);
}
article section.account a.twitter .inner:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(238, 238, 255, 1.0);
}

/* facebook */
article section.account a.facebook .outer{
  background-image: url(snsimg/facebook.png);
  /* background-size: auto; */
  /* background-color: rgb(238, 238, 238); */
  background-color: rgb(59, 89, 152); /* facebook color */
}
article section.account a.facebook .inner{
  background-color: rgb(0, 0, 0, 0.0);
  color: rgba(238, 238, 255, 0.0);
}
article section.account a.facebook .inner:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(238, 238, 255, 1.0);
}

/* tumblr */
article section.account a.tumblr .outer{
  background-image: url(snsimg/tumblr.png);
  background-color: rgb(53, 70, 92);
}
article section.account a.tumblr .inner{
  background-color: rgb(0, 0, 0, 0.0);
  color: rgba(238, 238, 238, 0.0);
}
article section.account a.tumblr .inner:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(238, 238, 238, 1.0);
}

/* qiita */
article section.account a.qiita .outer{
  background-image: url(snsimg/qiita.png);
  background-color: rgb(76,177,13);
}
article section.account a.qiita .inner{
  background-color: rgb(0, 0, 0, 0.0);
  color: rgba(238, 238, 238, 0.0);
}
article section.account a.qiita .inner:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(238, 238, 238, 1.0);
}

/* GitHub */
article section.account a.github .outer{
  background-image: url(snsimg/github.png);
  background-color: rgb(8,8,8);
}
article section.account a.github .inner{
  background-color: rgb(0, 0, 0, 0.0);
  color: rgba(238, 238, 238, 0.0);
}
article section.account a.github .inner:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(238, 238, 238, 1.0);
}

article section a{
  text-decoration: none;
}

/* Products */
img.full-size{
  width: 90%;
  height: auto;
}

/* photos */
div.submenu{
  padding: 0;
  margin-top: -5;
  background-color: #333;
}
ul.submenu{
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden; /*floatの解除、ここがポイント*/
  position: relative; /*DWで正常にプレビューできるようになります。*/
}


ul.submenu li{
  list-style-type: none;
  float: left;
  color: #ddf;
  margin-left: 0;
  margin-top: 0;
  padding: 1px 5px 1px;
  width: 64;
  font-size: 0.8em;
  text-align: center;
}

ul.submenu li:hover{
  background-color: #fff;
  color: #336;
}

div.submenu a{
  text-decoration: none;
}

/* フッター */
footer {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  display: block;
}