body {
  margin: 0px;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  background-image: url("bg.png");
}

@font-face{
  font-family: "Arcade Normal";
  src: local("Arcade Normal"), url("ARCADE_N.TTF");
}

@font-face{
  font-family: "美咲ゴシック";
  src: local("美咲ゴシック"), url("misaki_gothic.ttf");
}

/* ヘッダー */
header {
  background-color: #000;
  padding: 5px 5px 0px 5px;
}

header hgroup{
  overflow: hidden;
  position: relative;
}

header hgroup h1{
  color: #ffffff;
  margin: 1px 0px 5px 10px;
  font-family: 'VT323';
  text-align: right;
  float: right;
  animation: logoanime 0.6s;
  animation-timing-function: linear;
}
@keyframes logoanime{
  0% { opacity: 0; }
  100%{ opacity: 1; }
}

header h2{
  color: #666;
  margin: 1px 5px 5px 10px;
  font-weight: normal;
  text-align: right;
  font-size: 0.8em;
}


header img.top{
  width: 90%;
  height: auto;
  animation: tianime 2s;
}

header hgroup img{
  margin: 3px 5px 2px 5px;
  float: left;
  width: 32;
}


/* ナビゲーションメニュー */
nav ul {
  padding: 0;
  margin: 0;
  font-family: 'VT323';
  white-space: nowrap;
}

nav{
  display: inline;
  width: ***;
  bakcground-color: #fff;
}

nav ul li{
  list-style-type: none;
  float: left;
  background-color: #000000;
  color: #ddddff;
  margin-left: 1;
  padding: 8px 10px;
  width: 72;
  font-size: 1.2em;
  text-align: center;
}

nav ul li:hover{
  background-color: #cff;
  color: #006;
}

nav a{
  text-decoration: none;
}


/* 記事 */
article{
  margin: 5px 20px;
}
article h1{
  font-size: 1.5em;
  padding-left: 0;
  margin-bottom: 0;
  font-weight: normal;
}

article h2{
  font-size: 1.2em;
  padding: 5px 5px 0px 5px;
  margin-bottom: 5px;
  font-weight: normal;
  border-bottom: solid;
  border-bottom-color: #666;
}

article h2 div{
  font-size: 0.8em;
  float: right;
  padding: 5px 5px 5px 0px;
  color: #aaa;
}

article h3{
  font-size: 1.0em;
  padding: 5px 5px 0px 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  border-bottom: solid;
  border-bottom-color: #ccc;
  color: #333;
  border-width: thin;
}

article section{
  font-size: 0.9em;
}

article section div,ul{
  padding-left: 20px;
}

article section ul{
  margin-top: 0px;
  list-style-type: none;
}

table th{
  font-weight: normal;
  color: #666;
}

/* タグ */
article section ul.tags{
  list-style-type: none;
  overflow: hidden;
  position: relative;
}

article section ul.tags li{
  float: left;
  background-color: #ddf;
  color: #336;
  margin-left: 3;
  margin-top: 5;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

article section ul.tags li:hover{
  background-color: #336;
  color: #ddf;
}

article section a{
  text-decoration: none;
}

/* Products */
img.full-size{
  width: 90%;
  height: auto;
}

/* photos */
div.submenu{
  padding: 0;
  margin-top: -5;
  background-color: #333;
}
ul.submenu{
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden; /*floatの解除、ここがポイント*/
  position: relative; /*DWで正常にプレビューできるようになります。*/
}


ul.submenu li{
  list-style-type: none;
  float: left;
  color: #ddf;
  margin-left: 0;
  margin-top: 0;
  padding: 1px 5px 1px;
  width: 64;
  font-size: 0.8em;
  text-align: center;
}

ul.submenu li:hover{
  background-color: #fff;
  color: #336;
}

div.submenu a{
  text-decoration: none;
}

/* フッター */
footer {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  display: block;
}