<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/styles/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/styles/print.css" media="print">
    <title>{{ page.title }} - @yoshiki_utakata</title>
  </head>
  <body>
    <header>
      <div class="header">
        <h1>
          <a href="http://yoshikyoto.github.io/text/">
            @yoshiki_utakata
          </a>
        </h1>
        <h2>いろいろな知見とか</h2>

        <section id="downloads">
          <a href="https://github.com/yoshikyoto.github.io" class="btn btn-github">
            <span class="icon"></span>View on GitHub
          </a>
        </section>
      </div>
    </header>
    <div class="menu">
      <h2>目次</h2>
      {% for tag in tags %}
      <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
      <ul>
        {% for post in site.posts %}
        {% if post.tags contains tag %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
            {% for tag in post.tags %}
            <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
          </h3>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
